{% extends "layout.html" %}

{% block pageTitle %}
  Example - Passing data
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="start_page">Start page</a>
          </li>
        </ol>

        <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Who's your solicitor?
      </h1>
    </legend>

    <div class="govuk-form-group">
      <label class="govuk-label" for="full_name">
        Full name
        <span class="govuk-visually-hidden">line 1 of 3</span>
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="full_name" name="full_name" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="email_address">
        Email address
        <span class="govuk-visually-hidden">line 2 of 3</span>
      </label>
      <input class="govuk-input govuk-!-width-two-thirds" id="email_address" name="email_address" type="text">
    </div>

    <div class="govuk-form-group">
    <label class="govuk-label" for="reference_number">
        Reference number
        <span class="govuk-visually-hidden">line 3 of 3</span>
    </label>
    <input class="govuk-input govuk-!-width-one-third" id="reference_number" name="reference_number" type="text">
  </div>

  <div>
<a href="check_your_answers2.html" role="button" class="govuk-button">Continue</a>
</div>

<div>
  <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I don't know this information
    </span>
  </summary>
  <div class="govuk-details__text">
    We need this information so that we can share your property details with your solicitor. Please contact them if you need help.
  </div>
</details>
</div>
{% endblock %}
