{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Check and confirm your solicitor's details
      </h1>
<div>
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Please check the details you've provided for your solcitor.
    <b> Don't continue  until you're completely happy that the details are correct. </b>
  </strong>
</div>
      <h2 class="govuk-heading-m">
          Solicitor details
      </h2>

      <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Full name
          </dt>
          <dd class="app-check-your-answers__answer">
            <p> {{ data['full_name'] }} </p>
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="solicitor_name.html">
              Change <span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Email address
          </dt>
          <dd class="app-check-your-answers__answer">
            <p> {{ data['solicitor_email'] }} </p>
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="solicitor_email.html">
              Change <span class="govuk-visually-hidden">email address</span>
            </a>
          </dd>
        </div>
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Reference number
          </dt>
          <dd class="app-check-your-answers__answer">
            <p> {{ data['reference_number'] }} </p>
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="reference_number.html">
              Change <span class="govuk-visually-hidden">reference number</span>
            </a>
          </dd>
        </div>
      </dl>

      <a href="invited_solicitor.html" role="button" class="govuk-button">Confirm details</a>

    </div>

  </div>

{% endblock %}
