{% extends "layout.html" %}

{% block pageTitle %}
Digital Street Prototype ERIN
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div>

      <h1 class="govuk-heading-xl">Digital Street Prototype ERIN</h1>

      <a href="start_page.html">Seller - Instruct solicitor</a>
</div>
<div>
      <p>
        <a href="/docs/tutorials-and-examples">
          Return to Prototype Kit examples
        </a>
      </p>

</div>


{% endblock %}
