{% extends "layout.html" %}

{% block pageTitle %}
Digital Street Prototype ERIN
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div>

      <h1 class="govuk-heading-xl">Digital Street Prototype ERIN</h1>

      <div>

      <p> This page will hold any iterations of prototypes that I have been working on for Digital Street.</p>
        <p> These will be draft versions before moving code over to the main prototype. </p>
        <p> <b> Not for production or use within the team! </b> </p>
     </div>

     <div>
        <h2> Sprint 10 </h2>
        <p> Demonstrating the delegation of access to details about 1 digital street to a certified solicitor. </p>
     </div>
    <p>
      <a href="/start_page">Seller - Instruct solicitor v.1</a>
    </p>
</div>
<div>
      <p>
        <a href="/docs/tutorials-and-examples">
          Return to Prototype Kit examples
        </a>
      </p>
</div>
</div>


{% endblock %}
