{% extends "layout.html" %}

{% block pageTitle %}
  Example - Passing data
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="start_page">Start page</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="solicitor_name">Solicitor's name</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/solicitor_email">Solicitor's email address</a>
          </li>
        </ol>
      </div>
      <form action="/views/includes/check_your_answers" method="post" class="form">


      <div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label gov-uk-label--xl" for="reference_number">
    <h1> Solicitor's reference number </h1>
  </label>
  <span id="reference_hint" class="govuk-hint">
    For example, MR1234. <br>
    Your solicitor will have given you this.
  </span>
  <span id="reference_number_error" class="govuk-error-message">
    Enter your reference number in the right format
  </span>
  <input class="govuk-input govuk-input--error govuk-!-width-one-third" id="reference_number" name="reference_number" type="text" aria-describedby="reference_hint reference_number_error" value="{{ data['reference_number'] }}" >
</div>

        <a href="check_your_answers.html" role="button" class="govuk-button">Continue</a>

      </form>
      <div>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I don't know this information
          </span>
        </summary>
        <div class="govuk-details__text">
          We need this information so that we can share your property details with your solicitor. Please contact if you need any help.
        </div>
      </details>
      </div>
    </div>
  </div>
{% endblock %}
