{% extends "layout.html" %}

{% block pageTitle %}
  Example - Passing data
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="start_page">Start page</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/solicitor_email">Solicitor's email address</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="solicitor_name">Solicitor's name</a>
          </li>
        </ol>
      </div>
      <form action="/docs/examples/pass-data/solicitor_email" method="post" class="form">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="reference_number">
              Solicitor reference number
            </label>
          </h1>
               <span id="reference-error" class="govuk-error-message">
                  Enter your reference number in the right format
                </span>
              <span id="reference-hint" class="govuk-hint">
                  For example, MR1234.
                  Your solicitor will have given you this.
              </span>
          <input class="govuk-input govuk-input--error govuk-!-width-one-third" id="reference_number" name="reference_number" value="{{ data['reference_number'] }}" type="text" aria-describedby="reference_number-hint reference_number-error">

      </div>

        <a href="check_your_answers.html" role="button" class="govuk-button">Continue</a>

      </form>
      <div>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I don't know this information
          </span>
        </summary>
        <div class="govuk-details__text">
          We need this information so that we can share your property details with your solicitor. Please contact if you need any help.
        </div>
      </details>
      </div>
    </div>
  </div>
{% endblock %}
