{% extends "layout.html" %}

{% block pageTitle %}
  Example - Passing data
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="start_page">Start page</a>
          </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="solicitor_name">Solicitor's name</a>
              </li>
            </ol>
          </div>

      <form action= "{{ redirect_url }}" method="post" class="form">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="solicitor_email">
            <h1>  Solicitor's email address </h1>
            </label>
          </h1>
          <span id="email-hint" class="govuk-hint">
              For example, solicitor@example.com.
          </span>
          <input class="govuk-input govuk-!-width-two-thirds" id="solicitor_email" name="solicitor_email" value="{{ data['solicitor_email'] }}" type="text">
        </div>

        <button class="govuk-button">Continue</button>

      </form>
      <div>
        <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I don't know this information
          </span>
        </summary>
        <div class="govuk-details__text">
          We need this information so that we can share your property details with your solicitor. Please contact them if you need any help.
        </div>
      </details>
      </div>
    </div>
  </div>
{% endblock %}
