{% extends "layout.html" %}

{% block pageTitle %}
  Example - Passing data
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="start_page.html">Start page</a>
          </li>
        </ol>
      <form action="/solicitor_name" method="post" class="form">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="solicitor_name">
            <h1>  Solicitor's full name </h1>
            </label>
          </h1>
          <input class="govuk-input govuk-!-width-two-thirds" id="solicitor_name" name="solicitor_name" value="{{ data['solicitor_name'] }}" type="text">
          <button class="govuk-button">Continue</button>
        </div>
      </form>
    </div>
      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I don't know this information
        </span>
      </summary>
      <div class="govuk-details__text">
        <span>We need this information so that we can share your property details with your solicitor. Please contact them if you need any help.</span>
      </div>
    </details>
  </div>
</div>
{% endblock %}
