{% extends "layout.html" %}

{% block pageTitle %}
  Example - Passing data
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-xl">
                Share land or property details
              </h1>

                  <p>Use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
                    <li>share details about your property with your solicitor</li>
      </ul>

              <p>This takes around 5 minutes.</p>

              <div>
    <a href="/solicitor_name" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>
      </div>

              <h2 class="govuk-heading-l">
                Before you start
              </h2>
          <p>
              You'll need your:
              <ul class="govuk-list govuk-list--bullet">
              <li> the full address of the land or property your selling </li>
              <li> your solicitor's name </li>
            </ul>
          </p>

              <p>
                By providing your solicitor's information, we can share details about your property with them.
              </p>
              <p>
                This will allow them to act on your behalf.
              </p>


  </div>
{% endblock %}
